* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
section {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  background-color: rgba(108, 97, 102, 0.73);
}
section div {
  width: 50%;
}
#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
  object-fit: cover;
}
.contenedor {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 150px 50px;
}

.tituloPrincipal h1 {
  line-height: 75px;
  letter-spacing: 13px;
  font-size: 54px;
  text-transform: uppercase;
  color: white;
}
.labelImage {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* 
form {
  position: absolute;
  top: 140px;
  right: 100px;
} */
.contenedorFormulario {
  text-align: center;
  display: flex;
  justify-content: center;
}
.contenedorFormulario form {
  padding: 20px;
  z-index: 3000;
}

.contenedorFormulario form li {
  list-style: none;
  margin: 20px;

  text-align: center;
}
.contenedorFormulario form h3 {
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 2px;
  color: #ffffff;
}

.contenedorFormulario form li input {
  max-width: 480px;
  width: 100%;
  height: 35px;
  border: 2px solid #e0d0d7;
  border-radius: 10px;
  background-color: transparent;
  padding: 10px;
}

.contenedorFormulario form li input::placeholder {
  color: white;
}

.contenedorFormulario button {
  color: #e0d0d7;
  border-radius: 15px;
  font-weight: 600;
  border: none;
  padding: 10px 50px;
  background-color: white;
  text-transform: uppercase;
  letter-spacing: 0.08em;
}

.contenedorFormulario button:hover {
  background-color: #ac949f;
}

.textoColor {
  background: #ebe4e7;
  border-radius: 0px 20px 20px 0px;
  padding: 30px 50px 10px;
  font-size: 22px;
  letter-spacing: 0.3em;
  display: inline-block;
  top: -45px;
  position: relative;
}
.contenedor2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -200px;
}

.textoPreguntas {
  font-size: 23px;
  line-height: 170%;
  letter-spacing: 0.1em;
  padding: 40px 90px;
  margin: 30px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textoPreguntas p {
  font-weight: 600;
}

.textoPreguntas p img {
  width: 20px;
  margin-bottom: 5px;
}

.imagenGif img {
  width: 70%;
  margin: 160px 0 0 30px;
  transform: rotate(-30deg);
}
.close {
  font-size: 70px;
  font-weight: 200;
  margin: 0 30px;
  position: absolute;
  right: 0;
}
.contenedor3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -100px;
}

.imagenProductos img {
  max-width: 650px;
  width: 100%;
  padding: 30px;
  margin: 30px;
  top: -100px;
}

.textoProductos p {
  background-color: #ebe4e7;
  font-size: 30px;
  line-height: 145%;
  font-weight: 300;
  letter-spacing: 0.285em;
  padding: 50px;
  margin: 140px 0px;
}

.textoTratamiento {
  font-size: 25px;
  margin: 0;
  text-align: center;
  letter-spacing: 0.12em;
}

.contenedor4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 100px auto;
  text-align: center;
  width: 50%;
  grid-gap: 50px;
}

.contenedor5 {
  position: relative;
  background-image: url(./assets/backgroud2_cosmetics.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 180px;
}

.textoPromo p {
  background: #ebe4e7;
  border-radius: 20px;
  padding: 20px 30px;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 0.3em;
  text-align: center;
  margin-bottom: 80px;
}
.textoPromo small {
  text-align: center;
}
.botonModal {
  position: fixed;
  z-index: 3000;
  bottom: -285px;
  right: 50px;
  display: none;
  border: 0;
  background-color: transparent;
}
.activo {
  display: block;
}
.modalFormulario {
  background-color: white;
  padding: 30px;
}
.modalFormulario ul {
  list-style: none;
  text-align: center;
}
.modalFormulario ul li {
  margin: 20px auto;
  width: 80%;
}
.modalFormulario ul li input {
  border: 2px solid #bca8b1;
  border-radius: 10px;
  background-color: transparent;
  width: 100%;
  padding: 5px;
}
.modalFormulario button {
  background: #e0d0d7;
  border-radius: 20px;
  width: 70%;
  border: 0;
  padding: 5px 20px;
  color: white;
}
.modalFormulario h3 {
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.2em;
  line-height: 120%;
  margin: 30px 0;
}
@media only screen and (max-width: 1200px) {
  .contenedor,
  .contenedor2,
  .contenedor3,
  .contenedor4 {
    grid-template-columns: 1fr;
  }
  .contenedor2 {
    margin: 0;
  }
  .contenedor3 {
    width: 80%;
  }

  .botonModal {
    display: block;
  }
  .imagenGif {
    display: none;
  }
  .imagenProductos {
    text-align: center;
  }
  .textoProductos {
    display: none;
  }
  .contenedor5 {
    padding: 50px 20px;
  }
  .tituloPrincipal h1 {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .contenedorFormulario form {
    width: 100%;
    padding: 0;
  }
  #myVideo {
    left: 0;
    top: 0;
    width: 125%;
  }
  .tituloPrincipal {
    display: none;
  }
  section div {
    width: 100%;
  }
  .textoColor {
    font-size: 12px;
    width: 90%;
    margin: auto;
    border-radius: 0;
    text-align: center;
    padding: 30px 10px;
    width: 100%;
  }
  .privacyPolicy {
    font-size: 12px;
  }

  .textoPreguntas {
    padding: 20px;
    margin: 0 30px 80px;
    font-size: 18px;
  }
  .imagenProductos img {
    padding: 0;
  }

  .contenedor5 {
    padding: 0;
  }
  .textoPromo p {
    font-size: 18px;
  }
  .contenedorFormulario button {
    font-size: 14px;
    letter-spacing: 0;
  }
  .privacyPolicy {
    font-size: 12px;
    width: 90%;
    margin: auto;
    text-align: justify;
  }
}
